.product__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}
.products__cards h1 {
  text-align: center;
  color: #000;
  margin-bottom: 40px;
}

.product__card {
  position: relative;
  width: 32.33%;
  background-color: #f4f4f4;
  color: #000;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}
.product__card:hover img {
  transform: scale(1.03);
}
.product__card:hover .card-display {
  display: none;
  transition: 0.5s;
}

.product__card:hover .card-btn {
  display: block;
  transition: 0.5s;
}

.gaz_plita {
  background-color: none;
  border: none;
}

.product__card__desc {
  width: 100%;
  max-width: 400px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.33;

  margin-bottom: 10px;
  margin: 10px auto;
}

.product__price {
  color: #2189ff;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-price {
  font-size: 14px;
}

.card-btn {
  display: none;
  background-color: #000;
  font-size: 18px;
  border-radius: 15px;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  margin: 0 auto;
  transition: 0.6s;
}

.card-display {
  text-align: center;
  margin-top: 10px;
}

.product-news {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2189ff;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 4px 6px;
  font-weight: bold;
}
